# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.sqlite3
*.log
local_settings.py
media/

# Pipenv / virtualenv
.venv/
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
staticfiles/
requirements.txt
